{% extends "base.html" %} {% block title %}FAQs{% endblock %} {% block content
%}

<h3 align="center">FAQs</h3>
<p>
  1. What is Curefind?<br />
  Curefind is a medical reminder platform designed to help users keep track of
  their medication schedules with timely notifications and reminders.
  <br /><br />

  2. How do I set up a medical reminder?<br />
  Once you sign up, you can easily create reminders by entering your medication
  details, dosage, and frequency. The platform will send you notifications based
  on your preferences.
  <br /><br />

  3. Is Curefind free to use?<br />
  Yes, Curefind offers free services for basic reminders. However, we may
  introduce premium features in the future for advanced functionalities.
  <br /><br />

  4. Can I edit or delete my reminders? Absolutely! You can edit or delete any
  reminder through the user dashboard at any time.
  <br /><br />

  5. How secure is my data? We take your privacy seriously and employ strict
  security measures to protect your data. Please refer to our Privacy Policy for
  more details.
  <br /><br />

  6. What happens if I miss a reminder?<br />
  Curefind will send you a notification to remid you of your medication.
  However, you are responsiblle for ensuring that you take your medication as
  prescribed
  <br /><br />

  if you have more questions, don't hesitate to contact us at
  support@curefind.com
</p>

{% endblock %}
