{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h3 align="center">Login</h3>
<div class="n1">
  <div class="n2">
    <form action="" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Enter your email..."
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Enter your password..."
        />
      </div>

      <div class="from-btn">
        <input
          type="submit"
          class="btn btn-primary btn-block"
          value="Login"
          name="submit"
        />
      </div>
      <br />
      <div class="form-group">
        <p>
          Dont Have An Account Yet?
          <a href="{{ url_for('auth.signup') }}">Sign Up Here!</a>
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock %}
