{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %} {% block content
    %}

    <h3 align="center">Privacy Policy</h3> 
    <p>
        At CureFind, we are commited to protecting your privacy and ensuring 
        that your personal information is handled in a safe and responsible manner. This privacy 
        policy outlines how we collect, use and protect your personal data 
        <br>
        <br>
            <h5>1. Information We Collect</h5>
                We collect personal information such as your name, email address,
                age and password when you sign up for our services. Additionally, we may 
                collect information regarding your usage of our website and app to improve
                user experience
                <br>
                <br>
               <h5>2. How We Use Your Information </h5> 
                We use your personal data to: <br>
                
                    - Provide the medical reminder services. <br>
                
                    - Send notifications related to your reminders. <br>
                
                    - Improve and personalize your experience on the platform. <br>
                
                    - Comply with legal obligations. <br>
                
                <br>
                <h5>3. Data Sharing</h5>
               We do not share your data with third parties unless it is required by law or to provide the necessary service (e.g., sending notifications). We ensure that all third-party providers adhere to strict data protection protocols.
                <br>
                <br>
               <h5> 4. Data Security</h5>
                We employ industry-standard security measures to protect your data against unauthorized access, alteration, or disclosure. However, we cannot guarantee complete security due to the nature of the internet.
                <br>
                <br>
               <h5>5. Your Rights</h5> 
                You have the right to access, update, or delete your personal information at any time. If you wish to exercise these rights, please contact us.
                <br>
                <br>
              <h5> 6. Changes to this Policy</h5> 
                We may update this privacy policy periodically. We will notify you of any significant changes.
        

    </p>

    {% endblock %}
