{% extends "base.html" %} {% block title %}Terms of Services{% endblock %} {%
block content %}

<h3 align="center">Terms of services</h3>
<p>
    <p align="center">Welcome to Curefind. By using our website and services, you agree to comply with and be bound by the following terms and conditions.</p>
    <br><br>

<h6>1. Service Overview </h6>
Curefind provides medical reminder services to help users keep track of their medication schedules. These services are provided "as is" and may change without notice.
<br><br>

 <h6>2.User Responsibilities</h6>

    - Users must provide accurate and complete information when signing up. <br>

    - Users are responsible for ensuring that the reminders set on Curefind are correct and up to date. <br>

    - You agree not to misuse the website, engage in unlawful activities, or violate any local, state, or international laws.
<br><br>

 <h6>3. Disclaimer</h6>
Curefind is not a substitute for professional medical advice, diagnosis, or treatment. Always consult your healthcare provider for any medical concerns.
<br><br>

 <h6>4. Limitation of Liability</h6>
Curefind will not be held liable for any damages resulting from the use of our services, including but not limited to missed medication, incorrect reminders, or delays in notifications.
<br><br>

 <h6>5. Termination of Services</h6>
We reserve the right to terminate or suspend your account at any time if you violate these terms.
</p>
{% endblock %}
